#
# RL78/G13 I/O Device Maker 定義
#
base {
	.title	"RL78/G13 グループ・ポート・レジスター定義"
	.title	"Copyright 2016 Kunihito Hiramatsu"
	.author	"平松邦仁 (hira@rvf-rc45.net)"
}

#---------------------------------------------------------------

class {

	.title		"ポート制御レジスター"
	.base		"io8"
	.address	"0xff0001"
	.local		"inpdir"
	.name 		"INPDIR"

	bit_class {
		.bit_base	"bit_t"
		.bit_pos	"6"
		.bit_name	"TRJIOSEL"
		.bit_rem	"TRJIO 入力信号選択（0: 外部 TRJIO端子から、1: VCOUT1 から内部入力）"
		.bit_class_end
	}
}
